In [1]:
#import regular functionalities that we need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
from IPython.display import display

#stats imports
from sklearn.datasets import make_regression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

#classifiers to be used
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import ensemble

#Model Selection Bits
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedShuffleSplit, StratifiedKFold, KFold
from sklearn.model_selection import learning_curve, validation_curve

#preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from scipy.stats import mode

#evaluation
from sklearn.metrics import f1_score

#plotting
from sklearn.model_selection import learning_curve, validation_curve

#dataset
from sklearn.datasets import load_digits, make_classification

#pipelines
from sklearn.pipeline import Pipeline

In [2]:
#read HDI csv file
data1=pd.read_csv('HDI.csv')
#read WB Investment excel file
data2=pd.read_excel('WB_Investments.xls')

In [3]:
data1.info() #HDI csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Columns: 1008 entries, iso3 to mf_2021
dtypes: float64(1004), object(4)
memory usage: 1.6+ MB

In [4]:
data2.info() #WB_investments excel

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   inv_1960        0 non-null      float64
 5   inv_1961        0 non-null      float64
 6   inv_1962        0 non-null      float64
 7   inv_1963        0 non-null      float64
 8   inv_1964        0 non-null      float64
 9   inv_1965        0 non-null      float64
 10  inv_1966        0 non-null      float64
 11  inv_1967        0 non-null      float64
 12  inv_1968        0 non-null      float64
 13  inv_1969        0 non-null      float64
 14  inv_1970        83 non-null     float64
 15  inv_1971        85 non-null     float64
 16  inv_1972        86 non-null     float64
 17  inv_1973        86 non-null     float64
 18  inv_1974        86 non-null     float64
 19  inv_1975        87 non-null     float64
 20  inv_1976        87 non-null     float64
 21  inv_1977        87 non-null     float64
 22  inv_1978        90 non-null     float64
 23  inv_1979        92 non-null     float64
 24  inv_1980        93 non-null     float64
 25  inv_1981        95 non-null     float64
 26  inv_1982        97 non-null     float64
 27  inv_1983        100 non-null    float64
 28  inv_1984        103 non-null    float64
 29  inv_1985        106 non-null    float64
 30  inv_1986        106 non-null    float64
 31  inv_1987        107 non-null    float64
 32  inv_1988        107 non-null    float64
 33  inv_1989        107 non-null    float64
 34  inv_1990        108 non-null    float64
 35  inv_1991        110 non-null    float64
 36  inv_1992        111 non-null    float64
 37  inv_1993        121 non-null    float64
 38  inv_1994        124 non-null    float64
 39  inv_1995        125 non-null    float64
 40  inv_1996        126 non-null    float64
 41  inv_1997        126 non-null    float64
 42  inv_1998        127 non-null    float64
 43  inv_1999        127 non-null    float64
 44  inv_2000        127 non-null    float64
 45  inv_2001        127 non-null    float64
 46  inv_2002        127 non-null    float64
 47  inv_2003        127 non-null    float64
 48  inv_2004        127 non-null    float64
 49  inv_2005        127 non-null    float64
 50  inv_2006        129 non-null    float64
 51  inv_2007        129 non-null    float64
 52  inv_2008        129 non-null    float64
 53  inv_2009        129 non-null    float64
 54  inv_2010        129 non-null    float64
 55  inv_2011        126 non-null    float64
 56  inv_2012        126 non-null    float64
 57  inv_2013        127 non-null    float64
 58  inv_2014        127 non-null    float64
 59  inv_2015        128 non-null    float64
 60  inv_2016        129 non-null    float64
 61  inv_2017        129 non-null    float64
 62  inv_2018        127 non-null    float64
 63  inv_2019        128 non-null    float64
 64  inv_2020        128 non-null    float64
 65  inv_2021        129 non-null    float64
 66  inv_2022        129 non-null    float64
 67  inv_2023        129 non-null    float64
dtypes: float64(64), object(4)
memory usage: 141.4+ KB

In [9]:
data1.describe()

,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,hdi_1995,hdi_1996,hdi_1997,hdi_1998,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
count,191.000000,152.000000,152.000000,152.000000,152.000000,152.000000,163.000000,163.000000,163.000000,163.000000,...,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000
mean,95.811518,0.595112,0.597862,0.600493,0.604474,0.609329,0.613908,0.619663,0.624975,0.630417,...,15.249784,15.385926,15.347629,15.352632,15.342119,15.491780,14.597416,14.776332,14.775408,14.774396
std,55.307333,0.161918,0.161921,0.162193,0.163122,0.163818,0.162789,0.163461,0.164299,0.165177,...,14.134572,14.555342,14.363092,14.680340,15.015809,15.333709,13.581871,14.266308,14.266504,14.266706
min,1.000000,0.216000,0.218000,0.222000,0.227000,0.232000,0.238000,0.243000,0.248000,0.256000,...,0.430000,0.420000,0.450000,0.560000,0.600000,0.610000,0.500000,0.470000,0.470000,0.470000
25%,48.500000,0.477750,0.477000,0.475250,0.474250,0.476500,0.480500,0.488500,0.490000,0.492000,...,4.597500,4.525000,4.452375,4.457500,4.517500,4.575000,4.612500,4.732500,4.732500,4.732500
50%,96.000000,0.621500,0.623500,0.622000,0.624000,0.623500,0.642000,0.650000,0.651000,0.657000,...,10.907725,11.272314,10.745000,10.260000,10.590000,10.895000,11.215000,11.030000,11.030000,11.030000
75%,143.500000,0.725500,0.727000,0.723750,0.724250,0.733750,0.737000,0.743000,0.752500,0.759000,...,20.345000,20.397500,20.227500,20.187500,19.350000,19.757500,18.432500,17.932500,17.932500,17.932500
max,191.000000,0.872000,0.873000,0.878000,0.880000,0.884000,0.885000,0.887000,0.890000,0.895000,...,74.560000,82.970000,81.100000,86.780000,83.510000,88.700000,71.160000,85.700000,85.700000,85.700000

In [10]:
data2.describe()

,inv_1960,inv_1961,inv_1962,inv_1963,inv_1964,inv_1965,inv_1966,inv_1967,inv_1968,inv_1969,...,inv_2014,inv_2015,inv_2016,inv_2017,inv_2018,inv_2019,inv_2020,inv_2021,inv_2022,inv_2023
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.270000e+02,1.280000e+02,1.290000e+02,1.290000e+02,1.270000e+02,1.280000e+02,1.280000e+02,1.290000e+02,1.290000e+02,1.290000e+02
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.068585e+10,1.098093e+10,1.130895e+10,1.221860e+10,1.279162e+10,1.341466e+10,1.482598e+10,1.521506e+10,1.592569e+10,1.714818e+10
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.675358e+10,3.788066e+10,3.910792e+10,4.211594e+10,4.363898e+10,4.589326e+10,5.067861e+10,5.227512e+10,5.470396e+10,5.884658e+10
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.519000e+06,1.117000e+06,7.250000e+05,0.000000e+00,1.146000e+07,1.460000e+05,4.616000e+06,4.616000e+06,5.669000e+06,9.631000e+06
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.166330e+08,2.165490e+08,2.243000e+08,2.711300e+08,3.087565e+08,3.214410e+08,3.410692e+08,3.459010e+08,3.686450e+08,4.192550e+08
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.167310e+08,8.118170e+08,8.090740e+08,9.095660e+08,9.838510e+08,1.095019e+09,1.297931e+09,1.368207e+09,1.319202e+09,1.400053e+09
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.894697e+09,2.903574e+09,3.234578e+09,3.347665e+09,3.720460e+09,3.613162e+09,4.221642e+09,4.453169e+09,4.746742e+09,5.284212e+09
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.691362e+11,2.786142e+11,2.893276e+11,3.124734e+11,3.221394e+11,3.404528e+11,3.762089e+11,3.887692e+11,4.065190e+11,4.372212e+11

In [11]:
data1.head()

,iso3,country,hdicode,region,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,1.86,1.88,1.66,1.62,1.66,1.41,1.32,1.38,1.38,1.38
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,4.09,4.53,3.97,3.59,2.79,2.64,2.28,2.18,2.18,2.18
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,12.44,11.49,13.14,12.61,14.39,14.46,12.85,12.96,12.96,12.96
3,AND,Andorra,Very High,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Very High,AS,26.0,0.728,0.739,0.742,0.748,0.755,...,49.56,49.68,55.49,59.76,64.95,75.61,65.97,68.95,68.95,68.95

In [15]:
data2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,inv_1960,inv_1961,inv_1962,inv_1963,inv_1964,inv_1965,...,inv_2014,inv_2015,inv_2016,inv_2017,inv_2018,inv_2019,inv_2020,inv_2021,inv_2022,inv_2023
0,Aruba,ABW,"IBRD loans and IDA credits (DOD, current US$)",DT.DOD.MWBG.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"IBRD loans and IDA credits (DOD, current US$)",DT.DOD.MWBG.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"IBRD loans and IDA credits (DOD, current US$)",DT.DOD.MWBG.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,394587000.0,369722000.0,351221000.0,3.641720e+08,3.479340e+08,3.382720e+08,3.443340e+08,3.285560e+08,3.034100e+08,2.973850e+08
3,Africa Western and Central,AFW,"IBRD loans and IDA credits (DOD, current US$)",DT.DOD.MWBG.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,"IBRD loans and IDA credits (DOD, current US$)",DT.DOD.MWBG.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,477956000.0,929183000.0,940247000.0,1.024896e+09,1.042328e+09,1.635825e+09,1.746403e+09,2.481291e+09,3.235449e+09,3.885277e+09

In [17]:
#Trim dates and read all dates from 1990-2021
#Reformatting is Required.
#Thesis: Does WB Investment have a positive impact on GDP and HDI.

In [19]:
#Trim 'HDI.csv' (csv) so that only country, HDIcode and HDI-related years (1990-2021) are available. 
selected_columns1 = ["country", "hdicode", "hdi_1990", "hdi_1991", "hdi_1992","hdi_1993","hdi_1994","hdi_1995","hdi_1996",
                    "hdi_1997","hdi_1998","hdi_1999","hdi_2000","hdi_2001","hdi_2002","hdi_2003","hdi_2004","hdi_2005","hdi_2006",
                    "hdi_2007","hdi_2008","hdi_2009","hdi_2010","hdi_2011","hdi_2012","hdi_2013","hdi_2014","hdi_2015","hdi_2016",
                    "hdi_2017","hdi_2018","hdi_2019","hdi_2020","hdi_2021"]  
# Load only these columns
data1_trimmed=pd.read_csv('HDI.csv', usecols=selected_columns1)
print(data1_trimmed.head())

                country    hdicode  hdi_1990  hdi_1991  hdi_1992  hdi_1993  \
0           Afghanistan        Low     0.273     0.279     0.287     0.297
1                Angola     Medium       NaN       NaN       NaN       NaN
2               Albania       High     0.647     0.629     0.614     0.617
3               Andorra  Very High       NaN       NaN       NaN       NaN
4  United Arab Emirates  Very High     0.728     0.739     0.742     0.748

   hdi_1994  hdi_1995  hdi_1996  hdi_1997  ...  hdi_2012  hdi_2013  hdi_2014  \
0     0.292     0.310     0.319     0.323  ...     0.466     0.474     0.479
1       NaN       NaN       NaN       NaN  ...     0.541     0.552     0.563
2     0.624     0.634     0.645     0.642  ...     0.778     0.785     0.792
3       NaN       NaN       NaN       NaN  ...     0.869     0.864     0.871
4     0.755     0.762     0.767     0.773  ...     0.846     0.852     0.859

   hdi_2015  hdi_2016  hdi_2017  hdi_2018  hdi_2019  hdi_2020  hdi_2021
0     0.478     0.481     0.482     0.483     0.488     0.483     0.478
1     0.582     0.596     0.597     0.595     0.595     0.590     0.586
2     0.795     0.798     0.802     0.806     0.810     0.794     0.796
3     0.867     0.871     0.868     0.872     0.873     0.848     0.858
4     0.865     0.870     0.897     0.909     0.920     0.912     0.911

[5 rows x 34 columns]

In [21]:
#Trim 'WB_Investments' (excel) so that only country, GDP(USD) for years (1990-2021) are available. 
selected_columns2 = ["Country Name", "inv_1990", "inv_1991", "inv_1992", "inv_1993", "inv_1994", "inv_1995", "inv_1996", 
                     "inv_1997", "inv_1998", "inv_1999", "inv_2000", "inv_2001", "inv_2002", "inv_2003", "inv_2004", 
                     "inv_2005", "inv_2006", "inv_2007", "inv_2008", "inv_2009", "inv_2010", "inv_2011", "inv_2012", 
                     "inv_2013", "inv_2014", "inv_2015", "inv_2016", "inv_2017", "inv_2018", "inv_2019", "inv_2020", 
                     "inv_2021"]  
data2_trimmed = pd.read_excel('WB_Investments.xls', usecols=selected_columns2)

# Replace NaN values with 0
data2_trimmed = data2_trimmed.fillna(0)

# Print the first few rows
print(data2_trimmed.head())

                  Country Name  inv_1990  inv_1991   inv_1992    inv_1993  \
0                        Aruba       0.0       0.0        0.0         0.0
1  Africa Eastern and Southern       0.0       0.0        0.0         0.0
2                  Afghanistan       0.0       0.0        0.0         0.0
3   Africa Western and Central       0.0       0.0        0.0         0.0
4                       Angola       0.0       0.0  5607000.0  15202000.0

     inv_1994    inv_1995     inv_1996     inv_1997     inv_1998  ...  \
0         0.0         0.0          0.0          0.0          0.0  ...
1         0.0         0.0          0.0          0.0          0.0  ...
2         0.0         0.0          0.0          0.0          0.0  ...
3         0.0         0.0          0.0          0.0          0.0  ...
4  49604000.0  80576000.0  115121000.0  136047000.0  178689000.0  ...

      inv_2012     inv_2013     inv_2014     inv_2015     inv_2016  \
0          0.0          0.0          0.0          0.0          0.0
1          0.0          0.0          0.0          0.0          0.0
2  422308000.0  425760000.0  394587000.0  369722000.0  351221000.0
3          0.0          0.0          0.0          0.0          0.0
4  420275000.0  468408000.0  477956000.0  929183000.0  940247000.0

       inv_2017      inv_2018      inv_2019      inv_2020      inv_2021
0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
1  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
2  3.641720e+08  3.479340e+08  3.382720e+08  3.443340e+08  3.285560e+08
3  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
4  1.024896e+09  1.042328e+09  1.635825e+09  1.746403e+09  2.481291e+09

[5 rows x 33 columns]

In [23]:
#Time Series HDI with Slider
#Time Series WB Investment with Slider
#Remember to use only '_trimmed' going forward b/c these data have the correct years

In [47]:
# Time Series HDI with Slider (Adjusted for readability)
import dash
from dash import dcc, html, Output, Input
import plotly.express as px

# Extract years dynamically
year_columns = [col for col in data1.columns if col.startswith('hdi_')]
years = sorted([int(col.split('_')[1]) for col in year_columns if col.split('_')[1].isdigit()])

app = dash.Dash(__name__)

app.layout = html.Div([
    dcc.Slider(
        id='year-slider',
        min=min(years),
        max=max(years),
        value=min(years),
        marks={str(year): str(year) for year in years},
        step=1
    ),
    html.Div(id='selected-year', style={'fontSize': 20, 'marginTop': 10}),
    dcc.Graph(id='hdi-bar-chart')
])

@app.callback(
    Output('hdi-bar-chart', 'figure'),
    Output('selected-year', 'children'),
    Input('year-slider', 'value')
)
def update_chart(selected_year):
    year_column = f'hdi_{selected_year}'
    
    # Filter and prepare data
    df_filtered = data1[['country', year_column]].dropna()
    df_filtered = df_filtered.sort_values(by=year_column, ascending=True)  # Updated (Greatest to Least)
    
    # Create bar chart
    fig = px.bar(
        df_filtered,
        x=year_column,
        y='country',
        orientation='h',
        title=f'Human Development Index (HDI) - {selected_year}',
        labels={year_column: 'HDI', 'country': 'Country'},
    )

    # Adjust layout for readability
    fig.update_layout(
        xaxis=dict(range=[0, 1], tickmode='array', tickvals=[i/10 for i in range(11)]),
        height=2000,
        yaxis=dict(
            tickmode='array',
            tickvals=df_filtered['country'],
            ticktext=df_filtered['country'],
            tickfont=dict(size=10)  # Slightly larger for readability
        ),
        margin=dict(l=200)  # More space for country labels
    )
    
    return fig, f"Selected Year: {selected_year}"

if __name__ == '__main__':
    app.run_server(debug=True, port=8060) #Use different ports if you start getting errors.

In [49]:
#WB Invesments (entire list)
import dash
from dash import dcc, html, Output, Input
import plotly.express as px

# Extract years dynamically
year_columns = [col for col in data2_trimmed.columns if col.startswith('inv_')]
years = sorted([int(col.split('_')[1]) for col in year_columns if col.split('_')[1].isdigit()])

app = dash.Dash(__name__)

app.layout = html.Div([
    dcc.Slider(
        id='year-slider',
        min=min(years),
        max=max(years),
        value=min(years),
        marks={str(year): str(year) for year in years},
        step=1
    ),
    html.Div(id='selected-year', style={'fontSize': 20, 'marginTop': 10}),
    dcc.Graph(id='inv-bar-chart')
])

@app.callback(
    Output('inv-bar-chart', 'figure'),
    Output('selected-year', 'children'),
    Input('year-slider', 'value')
)
def update_chart(selected_year):
    year_column = f'inv_{selected_year}'
    
    # Filter and prepare data
    df_filtered = data2_trimmed[['Country Name', year_column]].dropna()
    df_filtered = df_filtered.sort_values(by=year_column, ascending=True)  # Updated (Greatest to Least)
    
    # Create bar chart
    fig = px.bar(
        df_filtered,
        x=year_column,
        y='Country Name',
        orientation='h',
        title=f'World Bank Investment - {selected_year}',
        labels={year_column: 'WB Investment', 'Country Name': 'Country Name'},
    )

    # Adjust layout for readability
    fig.update_layout(
        xaxis=dict(range=[0, 10000000000], tickmode='array', tickvals=[1000000000 for i in range(11)]),
        height=2000,
        yaxis=dict(
            tickmode='array',
            tickvals=df_filtered['Country Name'],
            ticktext=df_filtered['Country Name'],
            tickfont=dict(size=10)  # Slightly larger for readability
        ),
        margin=dict(l=200)  # More space for country labels
    )
    
    return fig, f"Selected Year: {selected_year}"

if __name__ == '__main__':
    app.run_server(debug=True, port=8061) #Use different ports if you start getting errors.

In [ ]:
#WB Investments (with exclusions)

In [51]:
import dash
from dash import dcc, html, dash_table, Output, Input
import plotly.express as px

# DF has already been read
# Extract years dynamically
year_columns = [col for col in data2_trimmed.columns if col.startswith('inv_')]
years = sorted([int(col.split('_')[1]) for col in year_columns if col.split('_')[1].isdigit()])

app = dash.Dash(__name__)

app.layout = html.Div([
    dcc.Slider(
        id='year-slider',
        min=min(years),
        max=max(years),
        value=min(years),
        marks={str(year): str(year) for year in years},  # Show labels every 1 year
        step=1
    ),
    html.Div(id='selected-year', style={'fontSize': 20, 'marginTop': 10}),
    dcc.Graph(id='inv-bar-chart')
])

exclude_countries = [
    'low & middle income', 'Middle income', 'Upper middle income', 'Lower middle income',
    'Latin America & Caribbean (excluding high income)', 'South Asia', 'IDA Only', 
    'Sub-Saharan Africa (excluding high income)', 'East Asia & Pacific (excluding high income)',
    'Low Income', 'Middle East & North Africa (excluding high income)', 'Europe & Central Asia (excluding high income)', 
    'Heavily indebted poor countries (HIPC)', 'High Income', 'Caribbean small states', 'Central Europe & the Baltics', 
    'East Asia & Pacific', 'Fragile and conflict affected situations', 'European Union', 'Europe & Central Asia', 
    'Small states', 'Sub-Saharan Africa', 'Post-demographic dividend', 'Pre-demographic dividend', 
    'Pacific island small states', 'World', 'Sub-Saharan Africa (IDA & IBRD countries)', 
    'South Asia (IDA & IBRD countries)', 'Middle East & North Africa (IDA & IBRD countries)', 
    'Latin America & the Caribbean (IDA & IBRD countries)', 'Europe & Central Asia (IDA & IBRD countries)', 
    'East Asia & Pacific (IDA & IBRD countries)', 'Other small states', 'IBRD only', 
    'Late-demographic dividend', 'Least developed countries: UN classification', 
    'Latin America & Caribbean', 'Not classified', 'IDA blend', 'IDA total', 'IDA & IBRD total', 
    'OECD members', 'North America', 'Northern Mariana Islands', 'Middle East & North Africa'
]

# Filter out rows where the country listed under "Country Name" is in the exclude list
data2_trimmed2 = data2_trimmed[~data2_trimmed['Country Name'].isin(exclude_countries)]

@app.callback(
    Output('inv-bar-chart', 'figure'),
    Output('selected-year', 'children'),
    Input('year-slider', 'value'),
)
def update_chart(selected_year):
    year_column = f'inv_{selected_year}'
    
    # Filter and prepare data
    df_filtered = data2_trimmed2[['Country Name', year_column]].dropna()
    
    # Clean country names by stripping spaces and converting to lowercase
    df_filtered['Country Name'] = df_filtered['Country Name'].str.strip().str.lower()
    exclude_countries2 = [country.lower() for country in exclude_countries]
    
    # Remove countries from the cleaned list
    df_filtered_cleaned = df_filtered[~df_filtered['Country Name'].isin(exclude_countries2)]
    
    # Sort data correctly
    df_filtered_cleaned = df_filtered_cleaned.sort_values(by=year_column, ascending=True)
    
    # Create bar chart
    fig = px.bar(
        df_filtered_cleaned,
        x=year_column,
        y='Country Name',
        orientation='h',
        title=f'World Bank Investment - {selected_year}',
        labels={year_column: 'WB Investment', 'Country Name': 'Country Name'},
    )

    # Adjust layout for readability
    fig.update_layout(
        xaxis=dict(
            tickmode='array', 
            tickformat=',.2f',  # For cleaner formatting of large numbers
        ),
        height=3000,  # Adjusted height
        yaxis=dict(
            tickmode='array',
            tickvals=df_filtered_cleaned['Country Name'],
            ticktext=df_filtered_cleaned['Country Name'],
            tickfont=dict(size=10)  # Slightly larger for readability
        ),
        margin=dict(l=200)  # More space for country labels
    )
    
    return fig, f"Selected Year: {selected_year}"

if __name__ == '__main__':
    app.run_server(debug=True, port=8062)

In [53]:
selected_columns2=selected_columns2
print(selected_columns2)

['Country Name', 'inv_1990', 'inv_1991', 'inv_1992', 'inv_1993', 'inv_1994', 'inv_1995', 'inv_1996', 'inv_1997', 'inv_1998', 'inv_1999', 'inv_2000', 'inv_2001', 'inv_2002', 'inv_2003', 'inv_2004', 'inv_2005', 'inv_2006', 'inv_2007', 'inv_2008', 'inv_2009', 'inv_2010', 'inv_2011', 'inv_2012', 'inv_2013', 'inv_2014', 'inv_2015', 'inv_2016', 'inv_2017', 'inv_2018', 'inv_2019', 'inv_2020', 'inv_2021']

In [55]:
#selected_columns2.append("Country Name")

# Filter and prepare WBInv data
df_filtered = data2_trimmed2[selected_columns2].dropna()
df_filtered.head()

,Country Name,inv_1990,inv_1991,inv_1992,inv_1993,inv_1994,inv_1995,inv_1996,inv_1997,inv_1998,...,inv_2012,inv_2013,inv_2014,inv_2015,inv_2016,inv_2017,inv_2018,inv_2019,inv_2020,inv_2021
0,Aruba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,Africa Eastern and Southern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,422308000.0,425760000.0,394587000.0,369722000.0,351221000.0,3.641720e+08,3.479340e+08,3.382720e+08,3.443340e+08,3.285560e+08
3,Africa Western and Central,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,Angola,0.0,0.0,5607000.0,15202000.0,49604000.0,80576000.0,115121000.0,136047000.0,178689000.0,...,420275000.0,468408000.0,477956000.0,929183000.0,940247000.0,1.024896e+09,1.042328e+09,1.635825e+09,1.746403e+09,2.481291e+09

In [57]:
print(df_filtered)

                    Country Name     inv_1990     inv_1991     inv_1992  \
0                          Aruba          0.0          0.0          0.0
1    Africa Eastern and Southern          0.0          0.0          0.0
2                    Afghanistan          0.0          0.0          0.0
3     Africa Western and Central          0.0          0.0          0.0
4                         Angola          0.0          0.0    5607000.0
..                           ...          ...          ...          ...
261                       Kosovo          0.0          0.0          0.0
262                  Yemen, Rep.  602141751.9  651287179.6  683760000.0
263                 South Africa          0.0          0.0          0.0
264                       Zambia  812713649.6  866228711.8  932078000.0
265                     Zimbabwe  448694569.7  477389337.6  579075000.0

         inv_1993      inv_1994      inv_1995      inv_1996      inv_1997  \
0    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
1    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
2    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
3    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
4    1.520200e+07  4.960400e+07  8.057600e+07  1.151210e+08  1.360470e+08
..            ...           ...           ...           ...           ...
261  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
262  7.262220e+08  7.799690e+08  8.274960e+08  8.931220e+08  9.336490e+08
263  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
264  1.057474e+09  1.243586e+09  1.433537e+09  1.509905e+09  1.555005e+09
265  7.278310e+08  8.694270e+08  8.955060e+08  8.478330e+08  8.718430e+08

         inv_1998  ...      inv_2012      inv_2013      inv_2014  \
0    0.000000e+00  ...  0.000000e+00  0.000000e+00  0.000000e+00
1    0.000000e+00  ...  0.000000e+00  0.000000e+00  0.000000e+00
2    0.000000e+00  ...  4.223080e+08  4.257600e+08  3.945870e+08
3    0.000000e+00  ...  0.000000e+00  0.000000e+00  0.000000e+00
4    1.786890e+08  ...  4.202750e+08  4.684080e+08  4.779560e+08
..            ...  ...           ...           ...           ...
261  0.000000e+00  ...  2.945230e+08  2.974210e+08  2.590820e+08
262  1.074928e+09  ...  2.103923e+09  2.070388e+09  1.910161e+09
263  0.000000e+00  ...  1.077011e+09  1.336687e+09  1.966737e+09
264  1.628288e+09  ...  5.651010e+08  6.319280e+08  6.668150e+08
265  9.407200e+08  ...  9.748020e+08  9.754460e+08  9.406380e+08

         inv_2015      inv_2016      inv_2017      inv_2018      inv_2019  \
0    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
1    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
2    3.697220e+08  3.512210e+08  3.641720e+08  3.479340e+08  3.382720e+08
3    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
4    9.291830e+08  9.402470e+08  1.024896e+09  1.042328e+09  1.635825e+09
..            ...           ...           ...           ...           ...
261  2.285470e+08  2.171140e+08  2.390900e+08  2.250330e+08  2.200560e+08
262  1.780328e+09  1.667944e+09  1.694835e+09  1.585771e+09  1.504667e+09
263  1.784791e+09  2.342769e+09  2.686253e+09  2.277401e+09  2.239455e+09
264  6.980210e+08  7.603620e+08  8.938140e+08  1.002934e+09  1.108251e+09
265  9.115010e+08  8.850550e+08  9.071580e+08  8.958650e+08  8.903860e+08

         inv_2020      inv_2021
0    0.000000e+00  0.000000e+00
1    0.000000e+00  0.000000e+00
2    3.443340e+08  3.285560e+08
3    0.000000e+00  0.000000e+00
4    1.746403e+09  2.481291e+09
..            ...           ...
261  3.143590e+08  3.130470e+08
262  1.487632e+09  1.368207e+09
263  2.082195e+09  1.852574e+09
264  1.295958e+09  1.377308e+09
265  9.103180e+08  8.929210e+08

[227 rows x 33 columns]

In [59]:
hdi_data=data1_trimmed

In [61]:
df_filtered['country'] = hdi_data['country'].str.strip().str.lower()
exclude_countries2 = [country.lower() for country in exclude_countries]
HDI_filtered_cleaned = df_filtered[~df_filtered['country'].isin(exclude_countries2)]

In [63]:
# Clean country names by stripping spaces and converting to lowercase
df_filtered['Country Name'] = df_filtered['Country Name'].str.strip().str.lower()
exclude_countries2 = [country.lower() for country in exclude_countries]

In [65]:
# Remove countries from the cleaned list
WBI_filtered_cleaned = df_filtered[~df_filtered['Country Name'].isin(exclude_countries2)]
print(WBI_filtered_cleaned["Country Name"].unique())

['aruba' 'africa eastern and southern' 'afghanistan'
 'africa western and central' 'angola' 'albania' 'andorra' 'arab world'
 'united arab emirates' 'argentina' 'armenia' 'american samoa'
 'antigua and barbuda' 'australia' 'austria' 'azerbaijan' 'burundi'
 'belgium' 'benin' 'burkina faso' 'bangladesh' 'bulgaria' 'bahrain'
 'bahamas, the' 'bosnia and herzegovina' 'belarus' 'belize' 'bermuda'
 'bolivia' 'brazil' 'barbados' 'brunei darussalam' 'bhutan' 'botswana'
 'central african republic' 'canada' 'central europe and the baltics'
 'switzerland' 'channel islands' 'chile' 'china' "cote d'ivoire"
 'cameroon' 'congo, dem. rep.' 'congo, rep.' 'colombia' 'comoros'
 'cabo verde' 'costa rica' 'cuba' 'curacao' 'cayman islands' 'cyprus'
 'czechia' 'germany' 'djibouti' 'dominica' 'denmark' 'dominican republic'
 'algeria' 'early-demographic dividend' 'ecuador' 'egypt, arab rep.'
 'euro area' 'eritrea' 'spain' 'estonia' 'ethiopia' 'finland' 'fiji'
 'france' 'faroe islands' 'micronesia, fed. sts.' 'gabon' 'united kingdom'
 'georgia' 'ghana' 'gibraltar' 'guinea' 'gambia, the' 'guinea-bissau'
 'equatorial guinea' 'greece' 'grenada' 'greenland' 'guatemala' 'guam'
 'guyana' 'hong kong sar, china' 'honduras' 'croatia' 'haiti' 'hungary'
 'indonesia' 'isle of man' 'india' 'ireland' 'iran, islamic rep.' 'iraq'
 'iceland' 'israel' 'italy' 'jamaica' 'jordan' 'japan' 'kazakhstan'
 'kenya' 'kyrgyz republic' 'cambodia' 'kiribati' 'st. kitts and nevis'
 'korea, rep.' 'kuwait' 'lao pdr' 'lebanon' 'liberia' 'libya' 'st. lucia'
 'liechtenstein' 'sri lanka' 'lesotho' 'lithuania' 'luxembourg' 'latvia'
 'macao sar, china' 'st. martin (french part)' 'morocco' 'monaco'
 'moldova' 'madagascar' 'maldives' 'mexico' 'marshall islands'
 'north macedonia' 'mali' 'malta' 'myanmar' 'montenegro' 'mongolia'
 'mozambique' 'mauritania' 'mauritius' 'malawi' 'malaysia' 'namibia'
 'new caledonia' 'niger' 'nigeria' 'nicaragua' 'netherlands' 'norway'
 'nepal' 'nauru' 'new zealand' 'oman' 'pakistan' 'panama' 'peru'
 'philippines' 'palau' 'papua new guinea' 'poland' 'puerto rico'
 "korea, dem. people's rep." 'portugal' 'paraguay' 'west bank and gaza'
 'french polynesia' 'qatar' 'romania' 'russian federation' 'rwanda'
 'saudi arabia' 'sudan' 'senegal' 'singapore' 'solomon islands'
 'sierra leone' 'el salvador' 'san marino' 'somalia' 'serbia'
 'south sudan' 'sao tome and principe' 'suriname' 'slovak republic'
 'slovenia' 'sweden' 'eswatini' 'sint maarten (dutch part)' 'seychelles'
 'syrian arab republic' 'turks and caicos islands' 'chad' 'togo'
 'thailand' 'tajikistan' 'turkmenistan' 'timor-leste' 'tonga'
 'south asia (ida & ibrd)' 'trinidad and tobago' 'tunisia' 'turkiye'
 'tuvalu' 'tanzania' 'uganda' 'ukraine' 'uruguay' 'united states'
 'uzbekistan' 'st. vincent and the grenadines' 'venezuela, rb'
 'british virgin islands' 'virgin islands (u.s.)' 'viet nam' 'vanuatu'
 'samoa' 'kosovo' 'yemen, rep.' 'south africa' 'zambia' 'zimbabwe']

In [67]:
# Extract relevant columns (investment: inv_1990 to inv_2021, hdi: hdi_1990 to hdi_2021)
investment_cols = [f"inv_{year}" for year in range(1990, 2022)]
hdi_cols = [f"hdi_{year}" for year in range(1990, 2022)]

# Ensure both datasets contain the necessary columns (be careful of the naming convention)
WBI_filtered_cleaned = WBI_filtered_cleaned[["Country Name"] + investment_cols]
hdi_data = data1_trimmed[["country"] + hdi_cols]
hdi_data.head()

,country,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,hdi_1995,hdi_1996,hdi_1997,hdi_1998,...,hdi_2012,hdi_2013,hdi_2014,hdi_2015,hdi_2016,hdi_2017,hdi_2018,hdi_2019,hdi_2020,hdi_2021
0,Afghanistan,0.273,0.279,0.287,0.297,0.292,0.310,0.319,0.323,0.324,...,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,Albania,0.647,0.629,0.614,0.617,0.624,0.634,0.645,0.642,0.657,...,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,United Arab Emirates,0.728,0.739,0.742,0.748,0.755,0.762,0.767,0.773,0.779,...,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911

In [69]:
WBI_filtered_cleaned.rename(columns={'Country Name': 'country'}, inplace=True)

In [71]:
print(WBI_filtered_cleaned["country"].unique())

['aruba' 'africa eastern and southern' 'afghanistan'
 'africa western and central' 'angola' 'albania' 'andorra' 'arab world'
 'united arab emirates' 'argentina' 'armenia' 'american samoa'
 'antigua and barbuda' 'australia' 'austria' 'azerbaijan' 'burundi'
 'belgium' 'benin' 'burkina faso' 'bangladesh' 'bulgaria' 'bahrain'
 'bahamas, the' 'bosnia and herzegovina' 'belarus' 'belize' 'bermuda'
 'bolivia' 'brazil' 'barbados' 'brunei darussalam' 'bhutan' 'botswana'
 'central african republic' 'canada' 'central europe and the baltics'
 'switzerland' 'channel islands' 'chile' 'china' "cote d'ivoire"
 'cameroon' 'congo, dem. rep.' 'congo, rep.' 'colombia' 'comoros'
 'cabo verde' 'costa rica' 'cuba' 'curacao' 'cayman islands' 'cyprus'
 'czechia' 'germany' 'djibouti' 'dominica' 'denmark' 'dominican republic'
 'algeria' 'early-demographic dividend' 'ecuador' 'egypt, arab rep.'
 'euro area' 'eritrea' 'spain' 'estonia' 'ethiopia' 'finland' 'fiji'
 'france' 'faroe islands' 'micronesia, fed. sts.' 'gabon' 'united kingdom'
 'georgia' 'ghana' 'gibraltar' 'guinea' 'gambia, the' 'guinea-bissau'
 'equatorial guinea' 'greece' 'grenada' 'greenland' 'guatemala' 'guam'
 'guyana' 'hong kong sar, china' 'honduras' 'croatia' 'haiti' 'hungary'
 'indonesia' 'isle of man' 'india' 'ireland' 'iran, islamic rep.' 'iraq'
 'iceland' 'israel' 'italy' 'jamaica' 'jordan' 'japan' 'kazakhstan'
 'kenya' 'kyrgyz republic' 'cambodia' 'kiribati' 'st. kitts and nevis'
 'korea, rep.' 'kuwait' 'lao pdr' 'lebanon' 'liberia' 'libya' 'st. lucia'
 'liechtenstein' 'sri lanka' 'lesotho' 'lithuania' 'luxembourg' 'latvia'
 'macao sar, china' 'st. martin (french part)' 'morocco' 'monaco'
 'moldova' 'madagascar' 'maldives' 'mexico' 'marshall islands'
 'north macedonia' 'mali' 'malta' 'myanmar' 'montenegro' 'mongolia'
 'mozambique' 'mauritania' 'mauritius' 'malawi' 'malaysia' 'namibia'
 'new caledonia' 'niger' 'nigeria' 'nicaragua' 'netherlands' 'norway'
 'nepal' 'nauru' 'new zealand' 'oman' 'pakistan' 'panama' 'peru'
 'philippines' 'palau' 'papua new guinea' 'poland' 'puerto rico'
 "korea, dem. people's rep." 'portugal' 'paraguay' 'west bank and gaza'
 'french polynesia' 'qatar' 'romania' 'russian federation' 'rwanda'
 'saudi arabia' 'sudan' 'senegal' 'singapore' 'solomon islands'
 'sierra leone' 'el salvador' 'san marino' 'somalia' 'serbia'
 'south sudan' 'sao tome and principe' 'suriname' 'slovak republic'
 'slovenia' 'sweden' 'eswatini' 'sint maarten (dutch part)' 'seychelles'
 'syrian arab republic' 'turks and caicos islands' 'chad' 'togo'
 'thailand' 'tajikistan' 'turkmenistan' 'timor-leste' 'tonga'
 'south asia (ida & ibrd)' 'trinidad and tobago' 'tunisia' 'turkiye'
 'tuvalu' 'tanzania' 'uganda' 'ukraine' 'uruguay' 'united states'
 'uzbekistan' 'st. vincent and the grenadines' 'venezuela, rb'
 'british virgin islands' 'virgin islands (u.s.)' 'viet nam' 'vanuatu'
 'samoa' 'kosovo' 'yemen, rep.' 'south africa' 'zambia' 'zimbabwe']

In [73]:
print(HDI_filtered_cleaned["country"].unique())

['afghanistan' 'angola' 'albania' 'andorra' 'united arab emirates'
 'argentina' 'armenia' 'antigua and barbuda' 'australia' 'austria'
 'azerbaijan' 'burundi' 'belgium' 'benin' 'burkina faso' 'bangladesh'
 'bulgaria' 'bahrain' 'bahamas' 'bosnia and herzegovina' 'belarus'
 'belize' 'bolivia (plurinational state of)' 'brazil' 'barbados'
 'brunei darussalam' 'bhutan' 'botswana' 'central african republic'
 'canada' 'switzerland' 'chile' 'china' "côte d'ivoire" 'cameroon'
 'congo (democratic republic of the)' 'congo' 'colombia' 'comoros'
 'cabo verde' 'costa rica' 'cuba' 'cyprus' 'czechia' 'germany' 'djibouti'
 'dominica' 'denmark' 'dominican republic' 'ecuador' 'egypt' 'eritrea'
 'spain' 'estonia' 'ethiopia' 'finland' 'fiji' 'france'
 'micronesia (federated states of)' 'gabon' 'georgia' 'guinea-bissau'
 'equatorial guinea' 'greece' 'grenada' 'guatemala' 'guyana'
 'hong kong, china (sar)' 'haiti' 'hungary' 'indonesia' 'india' 'ireland'
 'iran (islamic republic of)' 'iraq' 'iceland' 'israel' 'italy' 'jamaica'
 'jordan' 'japan' 'kazakhstan' 'kenya' 'kyrgyzstan' 'cambodia' 'kiribati'
 'saint kitts and nevis' 'korea (republic of)' 'kuwait'
 "lao people's democratic republic" 'lebanon' 'libya' 'saint lucia'
 'liechtenstein' 'latvia' 'morocco' 'monaco' 'moldova (republic of)'
 'maldives' 'mexico' 'marshall islands' 'north macedonia' 'mali' 'malta'
 'myanmar' 'montenegro' 'mongolia' 'mozambique' 'mauritania' 'mauritius'
 'malawi' 'malaysia' 'namibia' 'niger' 'nigeria' 'netherlands' 'norway'
 'nepal' 'nauru' 'new zealand' 'panama' 'peru' 'philippines'
 'papua new guinea' 'poland' 'portugal' 'paraguay' 'palestine, state of'
 'qatar' 'romania' 'russian federation' 'rwanda' 'saudi arabia' 'sudan'
 'senegal' 'solomon islands' 'sierra leone' 'san marino' 'somalia'
 'serbia' 'south sudan' 'suriname' 'slovakia' 'sweden'
 'eswatini (kingdom of)' 'seychelles' 'syrian arab republic' 'chad'
 'thailand' 'tajikistan' 'turkmenistan' 'timor-leste' 'tonga'
 'trinidad and tobago' 'tunisia' 'turkey' 'tuvalu'
 'tanzania (united republic of)' 'ukraine' 'united states' 'uzbekistan'
 'saint vincent and the grenadines' 'venezuela (bolivarian republic of)'
 'viet nam' 'vanuatu' 'samoa' 'south africa' 'zambia' 'zimbabwe'
 'very high human development' 'high human development' 'arab states'
 'east asia and the pacific' 'europe and central asia'
 'latin america and the caribbean' nan]

In [75]:
print(WBI_filtered_cleaned.columns)

Index(['country', 'inv_1990', 'inv_1991', 'inv_1992', 'inv_1993', 'inv_1994',
       'inv_1995', 'inv_1996', 'inv_1997', 'inv_1998', 'inv_1999', 'inv_2000',
       'inv_2001', 'inv_2002', 'inv_2003', 'inv_2004', 'inv_2005', 'inv_2006',
       'inv_2007', 'inv_2008', 'inv_2009', 'inv_2010', 'inv_2011', 'inv_2012',
       'inv_2013', 'inv_2014', 'inv_2015', 'inv_2016', 'inv_2017', 'inv_2018',
       'inv_2019', 'inv_2020', 'inv_2021'],
      dtype='object')

In [77]:
print(HDI_filtered_cleaned.columns)

Index(['Country Name', 'inv_1990', 'inv_1991', 'inv_1992', 'inv_1993',
       'inv_1994', 'inv_1995', 'inv_1996', 'inv_1997', 'inv_1998', 'inv_1999',
       'inv_2000', 'inv_2001', 'inv_2002', 'inv_2003', 'inv_2004', 'inv_2005',
       'inv_2006', 'inv_2007', 'inv_2008', 'inv_2009', 'inv_2010', 'inv_2011',
       'inv_2012', 'inv_2013', 'inv_2014', 'inv_2015', 'inv_2016', 'inv_2017',
       'inv_2018', 'inv_2019', 'inv_2020', 'inv_2021', 'country'],
      dtype='object')

In [78]:
# Merge datasets on 'Country'
merged_data = pd.merge(WBI_filtered_cleaned, HDI_filtered_cleaned, on="country", how="outer")
merged_data.head()

,country,inv_1990_x,inv_1991_x,inv_1992_x,inv_1993_x,inv_1994_x,inv_1995_x,inv_1996_x,inv_1997_x,inv_1998_x,...,inv_2012_y,inv_2013_y,inv_2014_y,inv_2015_y,inv_2016_y,inv_2017_y,inv_2018_y,inv_2019_y,inv_2020_y,inv_2021_y
0,afghanistan,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,africa eastern and southern,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,africa western and central,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,albania,0.000000e+00,0.000000e+00,2.037000e+06,2.763700e+07,6.473800e+07,1.089920e+08,1.372160e+08,1.481500e+08,2.200800e+08,...,422308000.0,425760000.0,394587000.0,369722000.0,351221000.0,364172000.0,347934000.0,338272000.0,344334000.0,328556000.0
4,algeria,1.207954e+09,1.412632e+09,1.473697e+09,1.511735e+09,1.708657e+09,2.049331e+09,1.939124e+09,1.795369e+09,1.676442e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
print (merged_data.columns)

Index(['country', 'inv_1990_x', 'inv_1991_x', 'inv_1992_x', 'inv_1993_x',
       'inv_1994_x', 'inv_1995_x', 'inv_1996_x', 'inv_1997_x', 'inv_1998_x',
       'inv_1999_x', 'inv_2000_x', 'inv_2001_x', 'inv_2002_x', 'inv_2003_x',
       'inv_2004_x', 'inv_2005_x', 'inv_2006_x', 'inv_2007_x', 'inv_2008_x',
       'inv_2009_x', 'inv_2010_x', 'inv_2011_x', 'inv_2012_x', 'inv_2013_x',
       'inv_2014_x', 'inv_2015_x', 'inv_2016_x', 'inv_2017_x', 'inv_2018_x',
       'inv_2019_x', 'inv_2020_x', 'inv_2021_x', 'Country Name', 'inv_1990_y',
       'inv_1991_y', 'inv_1992_y', 'inv_1993_y', 'inv_1994_y', 'inv_1995_y',
       'inv_1996_y', 'inv_1997_y', 'inv_1998_y', 'inv_1999_y', 'inv_2000_y',
       'inv_2001_y', 'inv_2002_y', 'inv_2003_y', 'inv_2004_y', 'inv_2005_y',
       'inv_2006_y', 'inv_2007_y', 'inv_2008_y', 'inv_2009_y', 'inv_2010_y',
       'inv_2011_y', 'inv_2012_y', 'inv_2013_y', 'inv_2014_y', 'inv_2015_y',
       'inv_2016_y', 'inv_2017_y', 'inv_2018_y', 'inv_2019_y', 'inv_2020_y',
       'inv_2021_y'],
      dtype='object')

In [82]:
merged_data["country"].unique() #intersection

array(['afghanistan', 'africa eastern and southern',
       'africa western and central', 'albania', 'algeria',
       'american samoa', 'andorra', 'angola', 'antigua and barbuda',
       'arab states', 'arab world', 'argentina', 'armenia', 'aruba',
       'australia', 'austria', 'azerbaijan', 'bahamas', 'bahamas, the',
       'bahrain', 'bangladesh', 'barbados', 'belarus', 'belgium',
       'belize', 'benin', 'bermuda', 'bhutan', 'bolivia',
       'bolivia (plurinational state of)', 'bosnia and herzegovina',
       'botswana', 'brazil', 'british virgin islands',
       'brunei darussalam', 'bulgaria', 'burkina faso', 'burundi',
       'cabo verde', 'cambodia', 'cameroon', 'canada', 'cayman islands',
       'central african republic', 'central europe and the baltics',
       'chad', 'channel islands', 'chile', 'china', 'colombia', 'comoros',
       'congo', 'congo (democratic republic of the)', 'congo, dem. rep.',
       'congo, rep.', 'costa rica', "cote d'ivoire", 'croatia', 'cuba',
       'curacao', 'cyprus', 'czechia', "côte d'ivoire", 'denmark',
       'djibouti', 'dominica', 'dominican republic',
       'early-demographic dividend', 'east asia and the pacific',
       'ecuador', 'egypt', 'egypt, arab rep.', 'el salvador',
       'equatorial guinea', 'eritrea', 'estonia', 'eswatini',
       'eswatini (kingdom of)', 'ethiopia', 'euro area',
       'europe and central asia', 'faroe islands', 'fiji', 'finland',
       'france', 'french polynesia', 'gabon', 'gambia, the', 'georgia',
       'germany', 'ghana', 'gibraltar', 'greece', 'greenland', 'grenada',
       'guam', 'guatemala', 'guinea', 'guinea-bissau', 'guyana', 'haiti',
       'high human development', 'honduras', 'hong kong sar, china',
       'hong kong, china (sar)', 'hungary', 'iceland', 'india',
       'indonesia', 'iran (islamic republic of)', 'iran, islamic rep.',
       'iraq', 'ireland', 'isle of man', 'israel', 'italy', 'jamaica',
       'japan', 'jordan', 'kazakhstan', 'kenya', 'kiribati',
       'korea (republic of)', "korea, dem. people's rep.", 'korea, rep.',
       'kosovo', 'kuwait', 'kyrgyz republic', 'kyrgyzstan', 'lao pdr',
       "lao people's democratic republic",
       'latin america and the caribbean', 'latvia', 'lebanon', 'lesotho',
       'liberia', 'libya', 'liechtenstein', 'lithuania', 'luxembourg',
       'macao sar, china', 'madagascar', 'malawi', 'malaysia', 'maldives',
       'mali', 'malta', 'marshall islands', 'mauritania', 'mauritius',
       'mexico', 'micronesia (federated states of)',
       'micronesia, fed. sts.', 'moldova', 'moldova (republic of)',
       'monaco', 'mongolia', 'montenegro', 'morocco', 'mozambique',
       'myanmar', 'namibia', 'nauru', 'nepal', 'netherlands',
       'new caledonia', 'new zealand', 'nicaragua', 'niger', 'nigeria',
       'north macedonia', 'norway', 'oman', 'pakistan', 'palau',
       'palestine, state of', 'panama', 'papua new guinea', 'paraguay',
       'peru', 'philippines', 'poland', 'portugal', 'puerto rico',
       'qatar', 'romania', 'russian federation', 'rwanda',
       'saint kitts and nevis', 'saint lucia',
       'saint vincent and the grenadines', 'samoa', 'san marino',
       'sao tome and principe', 'saudi arabia', 'senegal', 'serbia',
       'seychelles', 'sierra leone', 'singapore',
       'sint maarten (dutch part)', 'slovak republic', 'slovakia',
       'slovenia', 'solomon islands', 'somalia', 'south africa',
       'south asia (ida & ibrd)', 'south sudan', 'spain', 'sri lanka',
       'st. kitts and nevis', 'st. lucia', 'st. martin (french part)',
       'st. vincent and the grenadines', 'sudan', 'suriname', 'sweden',
       'switzerland', 'syrian arab republic', 'tajikistan', 'tanzania',
       'tanzania (united republic of)', 'thailand', 'timor-leste', 'togo',
       'tonga', 'trinidad and tobago', 'tunisia', 'turkey', 'turkiye',
       'turkmenistan', 'turks and caicos islands', 'tuvalu', 'uganda',
       'ukraine', 'united arab emirates', 'united kingdom',
       'united states', 'uruguay', 'uzbekistan', 'vanuatu',
       'venezuela (bolivarian republic of)', 'venezuela, rb',
       'very high human development', 'viet nam', 'virgin islands (u.s.)',
       'west bank and gaza', 'yemen, rep.', 'zambia', 'zimbabwe', nan],
      dtype=object)

In [83]:
merged_data = merged_data.fillna(0)

In [87]:
print(merged_data.isna().sum()) #awesome...there are no more NaN

country       0
inv_1990_x    0
inv_1991_x    0
inv_1992_x    0
inv_1993_x    0
             ..
inv_2017_y    0
inv_2018_y    0
inv_2019_y    0
inv_2020_y    0
inv_2021_y    0
Length: 66, dtype: int64

In [89]:
inv_columns = [col for col in merged_data.columns if col.endswith('_x')]
hdi_columns = [col for col in merged_data.columns if col.endswith('_y')]
years = sorted([int(col.split('_')[1]) for col in year_columns if col.split('_')[1].isdigit()])

# Define features (X) and target variable (y)
X = merged_data[inv_columns]  # WB_Investment amount and Year
y = merged_data[hdi_columns]  # Target: HDI values

# Split data into training (70%) and testing (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1010)

In [91]:
# Train the regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on test data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R² Score: {r2}")

Mean Squared Error: 6.306178818472466e+20
R² Score: -39.64132352653644

In [93]:
#Decision Tree Classifier - not very good for categorical
#the results are not good, so try and fix with a scaling function

In [95]:
# Select only the investment columns (X) for scaling
investment_cols = [col for col in merged_data.columns if "inv_" in col]
X = merged_data[investment_cols]

In [97]:
from sklearn. preprocessing import StandardScaler
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [99]:
# Train the regression model
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Predict on test data
y_pred = model.predict(X_test_scaled)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R² Score: {r2}")

Mean Squared Error: 6.306178818471526e+20
R² Score: -39.641323526530485

In [117]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2, include_bias=False)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

In [119]:
# Train the regression model
model = LinearRegression()
model.fit(X_train_poly, y_train)

# Predict on test data
y_pred = model.predict(X_test_poly)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R² Score: {r2}")

Mean Squared Error: 8.079234360362643e+26
R² Score: -44527705.94825377

In [ ]:
Using